@import "bourbon"
@import "vars.sass"
@import "_media.sass"
*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666
//Custom Styles Here
.border_grey
	border-right: 1px solid #e7e7e7
.posibility
	position: relative
	text-align: center
	&:nth-child(1)
		&::before
		  content: ''
		  position: absolute
		  width: 164px
		  height: 187px
		  display: block
		  top: -30px
		  transform: translate(57%, 0%)
		  z-index: 0
		  background-image: url(/img/item_1.png)
.posibility
	&:nth-child(2)
		&::before
		  content: ''
		  position: absolute
		  width: 185px
		  height: 187px
		  display: block
		  top: -30px
		  transform: translate(50%, 0%)
		  z-index: 0
		  background-image: url(/img/item_2.png)
.posibility
	&:nth-child(3)
		&::before
		  content: ''
		  position: absolute
		  width: 186px
		  height: 187px
		  display: block
		  top: -30px
		  transform: translate(50%, 0%)
		  z-index: 0
		  background-image: url(/img/item_3.png)
.posibility_content
	margin-top: 80px
	position: relative
	background-color: #fff
	padding: 33px 20px
	text-align: center
	border: 1px solid #e3e3e3
	h2
		text-transform: uppercase
		color: $main-color
		font-size: em(20px)
		margin: 0
		padding: 0
	p
		font-size: em(14px)
		font-weight: normal
		color: #555
	&::before
		content: ''
		position: absolute
		width: 100%
		height: 43px
		bottom: -43px
		left: 0
		background-image: url(/img/item_shadow.png)
		background-repeat: no-repeat
		background-position: center 0
.item
	margin-bottom: 20px
	a
		display: block
		text-decoration: none
		h2
			background-color: $main-color
			margin: 0
			text-align: center
			font-size: 17px
			padding: 17px 0
			color: #fff
		img
			width: 100%
		&:hover
			background-color: $main-color
			background-image: url(/img/item_pic.png)
			background-position: center 35%
			background-repeat: no-repeat
			img
				visibility: hidden
			h2
				background-color: #555555
.elastislide_wrapper
	padding-bottom: 20px
.clients_wrapper
	padding-bottom: 60px
.footer_mail
	padding: 10px 0
	h2
		color: #fff
		padding: 0 0 0 30px
		font-weight: bold
	form
		float: right
		padding: 25px 0 0 0
.footer_mail_name,.footer_mail_mail
	padding: 7px
	margin-right: 10px
	border: none
.footer_mail_mail
	width: 261px
.footer_mail_button
	padding: 7px 10px
	text-transform: uppercase
	background-color: $main-color
	color: #fff
	border: none
	&:hover
		background-color: lighten($main-color, 5%)
.footer_mail_bottom
	padding: 0 20px
	color: #fff
	p
		font-size: em(13px)
	ul
		float: right
		li
			list-style-type: none
			display: inline-block
			a
				transition: all 0.5s ease
				margin-right: 3px
				color: #797979
				&:hover
					text-decoration: none
.footer_mnu
	font-size: em(13px)
	a
		transition: all 0.5s ease
		&:hover
			color: #ccc
.bg_outblog
	h2
		z-index: 5
		margin: 0
		padding: 65px 0
		color: #fff
		text-align: center
	background-image: url(/img/bg_bread.jpg)
	background-size: cover
.grey
	background-color: #ebebeb
.breadcrumb
	color: #aeaeae
.bg_blog
	background-image: url(/img/blog_bg.jpg)
.article_body
	padding: 10px 0 20px 0
	margin-top: 60px
.article_img
	float: left
	margin: 0
	padding: 15px 20px 20px 0
	position: relative
	a
		display: block
		transition: all 1s ease
		&:hover
			background-color: $main-color
			background-image: url(/img/item_pic.png)
			background-position: center 50%
			background-repeat: no-repeat
			transition: all 1s ease
			img
				visibility: hidden
.article_date
	position: absolute
	top: 15px
	left: 0
	background-color: rgba(255, 72, 0, .7)
	color: #fff
	padding: 16px 6px 12px 6px
	text-align: center
	line-height: 15px
	strong
		font-size: em(28px)
		line-height: 1px
		margin: 0
		padding: 0
.article_content
	h2
		padding: 0
		margin: 0
		border-bottom: 1px solid #fcafaf
		display: inline-block
		width: 57%
		color: $main-color
		text-transform: none
		font-size: em(36px)
.article_bottom
	background-color: $main-color
	padding: 8px
	margin-bottom: 30px
	ul
		margin: 0
		padding: 0
		li
			list-style-type: none
			display: inline-block
			margin-right: 5px
			color: #fff
			vertical-align: bottom
			a
				color: #fff
				font-size: em(13px)
			i
				margin-left: 5px
				margin-right: 8px
	.read_more
		float: right
		color: #fff
		text-transform: uppercase
		background-color: #555555
		padding: 8px 8px
		margin: -8px 0 -8px 0
		transition: all .5s ease
		&:hover
			background-color: #999
.widjet_category
	padding: 60px 0 0 0
	position: relative
	h3
		color: #555
	ul
		margin: 0
		padding: 0 0 0 5px
		li
			list-style-type: none
	a
		font-size: em(18px)
		margin-left: 15px
		color: $main-color
	&::after
		content: ''
		position: absolute
		width: 110%
		height: 1px
		left: -15px
		bottom: -15px
		background-color: #e7e7e7
.widjet_tags
	padding: 20px 0 0 0
	h3
		color: #555
	a
		margin: 0 0 15px 20px
		display: inline-block
		font-size: em(12px)
		position: relative
		background-color: $main-color
		padding: 0 5px 0px 0
		color: #fff
		&::before
			content: ''
			position: absolute
			display: inline-block
			width: 15px
			height: 19px
			left: -15px
			top: 0
			background-image: url(/img/tag.png)

//ALWAYS END


//Load Libs SASS
@import "app/libs/animate/animate.sass"
@import "app/libs/fontawesome/css/font-awesome"
@import "app/libs/flexslider/flexslider"
